<div>
  <canvas #canvas></canvas>
</div>
<button (click)="finish()" class="button">Finish and calc params</button>
<div>Perimeter is equal to {{perimeter}}</div>
<div>Square is equal to {{square}}</div>